<script>
    var myVar;

function myFunction() {
myVar = setTimeout(showPage, 3000);
}

function showPage() {
document.getElementById("loader").style.display = "none";
document.getElementById("myDiv").style.display = "block";
}
</script>
<!--LOADER<body onload="myFunction()" style="margin:0;">
<div id="loader"></div>
<div style="display:none;" id="myDiv" class="animate-bottom">-->
<div class="container">
  
<section>
<h1 class="logo">PARIKSHA<em>.</em></h1>
<h1>We are currently working on something awesome ways to organise online quizzes!!</h1>
<label>
   
    <button routerLink="/user/quizzes/0" mat-raised-button color="primary">Explore Available quizzes</button>

</label>

</section>
</div>
<!--IF LOADER INCLUDED</div>-->

