<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                
               
            </div>
            <div class = "container">
               <img src = "../../../assets/online-examination.jpg" alt = "Norway" width = "1000" height = "300">
               <div class ="topleft"><h2 style="color:darkviolet">Welcome to My Pariksha App!! login to start quiz and enjoy</h2>
                 <div style="text-align: center;"><button routerLink="/signup" mat-raised-button color="primary">Register Yourself</button></div>
               </div>
            </div>
        </div>
    </div>
</div>
                
