<div class="bootstrap-wrapper">
    <div class="container">
       
        <header id="header">
            <h1>Welcome To Pariksha App</h1>
        </header>
        <!-- Intro -->
        <div id="card" style="margin-top: -6%;">
        <article id="intro">
            <p>The key advantage of using the online examination system is that it is well incorporated into a technologically rich world. For professional situations, the use of pen and paper is growing. Most of the work is done with email, text messages, presentation machines, computer-based development, etc.</p>
            <button routerLink="/signup" >Register Yourself To Start</button>
        </article>
        <!-- Benefits -->
        
        <section class="section">
            <img src="https://images.indianexpress.com/2020/04/exam-759.jpg">
           
        </section>
        </div>
       
        
      
       
      
          
    </div>
</div>
                
