<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card style="background-color:ivory; border:lightblue">
                <div class="container text-center" style="background-color:cornsilk">
                    <img src="../../../assets/exam-signup-logo.png" style="width: 200px; height:150px;" alt="">
                </div>
                <h1 class="text-center" style="color:darkred">Register Here!!</h1>
                <form (ngSubmit)="FormSubmit()" border="color:black">
                <!--This is used for user name inputs-->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label><b>Username</b></mat-label>
                    <input required name="username" matInput placeholder="Enter your username" [(ngModel)]="User.username" #username="ngModel">
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">
                      <div *ngIf="username.errors?.required">
                        Username is required, please enter username with atleast 4 characters long
                      </div>
                      <div *ngIf="username.errors?.minlength">
                      Name must be at least 4 characters long.
                      </div>
                    </div>
                    
                </mat-form-field>
                   <!--This is used for user password inputs-->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label><b>Userpassword</b></mat-label>
                    <input required  name="password" type="password" matInput placeholder="Enter your password" [(ngModel)]="User.password">
                </mat-form-field>
                   <!--This is used for user first name inputs-->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label><b>User First name</b></mat-label>
                    <input required name="firstname" matInput placeholder="Enter your firstname" [(ngModel)]="User.firstname">
                  </mat-form-field>
                   <!--This is used for user last name inputs-->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label><b>User Last Name</b></mat-label>
                    <input required  name="lastname" matInput placeholder="Enter your last name" [(ngModel)]="User.lastname">
                  </mat-form-field>
                   <!--This is used for user email address inputs-->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label><b>User Email Address</b></mat-label>
                    <input required type="email"  name="email" matInput placeholder="Enter your email address" [(ngModel)]="User.email">
                  </mat-form-field>
                   <!--This is used for user phone number inputs-->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label><b>User Phone Number</b></mat-label>
                    <input required name="phonenumber" matInput placeholder="Enter your phone number" [(ngModel)]="User.phonenumber">
                  </mat-form-field>
                  
                  <div class="container text-center">
                      <button type="submit" mat-raised-button color="primary">Register</button>
                      <button type="reset" style="margin-left: 20px;" color="accent" mat-raised-button>Clear</button>
                  </div>
                  </form>
                  </mat-card>
            </div>
        </div>
    </div>
</div>
