<mat-card>
    <mat-action-list>
        <div mat-subheader><h2>Menu</h2></div>
        <button mat-list-item routerLink="/admin/home"><mat-icon mat-list-icon>home</mat-icon>Home</button>
        <button mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon>account_circle</mat-icon>Profile</button>
        <button mat-list-item  routerLink="/admin/categories"><mat-icon mat-list-icon>list</mat-icon>Categories</button>
        <button mat-list-item routerLink="/admin/add-category"><mat-icon mat-list-icon>add_circle_outline</mat-icon>Add Category</button>
        <button mat-list-item routerLink="/admin/view-quizzes"><mat-icon mat-list-icon>quiz</mat-icon>Quizes</button>
        <button mat-list-item (click)="logout()"><mat-icon mat-list-icon>logout</mat-icon>Logout</button>
    </mat-action-list>
</mat-card>
