<div class="container text-center" style="margin-left: 15%;" >
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        
        <div class="card" style="margin-top: 15%; width:100%">
          <img src="https://png.pngitem.com/pimgs/s/22-223968_default-profile-picture-circle-hd-png-download.png" class="profile-image">
          <h1>{{user.username}}</h1>
          <p class="title">{{user.email}}</p>
          <p>{{user.firstname.charAt(0).toUpperCase()+user.firstname.slice(1)}} {{user.lastname.charAt(0).toUpperCase()+user.lastname.slice(1)}}</p>
         
          <p><button>Update Profile</button></p>
          <p><button>Delete Profile</button></p>
        </div>
           
      </div>
    </div>
</div>
  